button.launch {
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0px 15px rgba(105, 255, 133, 0.743);
    background-color: rgb(52, 164, 93);
    transition: all 0.333s ease-in-out;
    font-weight: 750;
}
button.launch:hover {
    background-color: rgb(63, 197, 112);
    box-shadow: 0 0px 25px rgba(41, 255, 21, 0.561);
    transform: scale(1.05);
}

button.exit {
    border: 2px solid rgb(73, 73, 73);
    /*border-radius: 10px;*/
    text-align: center;
    padding: 0px;
    color: rgb(225, 225, 225);
    background-color: rgb(27, 27, 27);
    transition: all 0.333s ease-in-out;
    font-weight: 750;
    width: 24px;
    height: 24px;
}
button.exit:hover {
    background-color: rgb(41, 41, 41);
    transform: scale(1.01);
}

p.title {
    color: rgba(0, 0, 0, 0.357);
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    font-size: 50px;
    margin: 0; 
    padding: 0;
}